@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <br />
    <br />
    <br />

    <h1 class="display-4"><i class="fas fa-file-invoice fa-lg"></i>  App - Gestionar Citas</h1>
    <br />
    <br />
    <p>La app permite ver sus citas y tomar una cita...</p>
    @*<i class="fab fa-accusoft"></i>*@
</div>
