@model AppCitas.Models.ScheduleAppointment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Editar cita programada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Id Solicitud Cita</label>
                <input asp-for="IdScheduleAppointment" class="form-control" readonly="readonly"/>
                <span asp-validation-for="IdScheduleAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Prestación</label>
                <input asp-for="Performance" class="form-control" />
                <span asp-validation-for="Performance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha y hora de cita</label>
                <input asp-for="DateHourAppointment" class="form-control" />
                <span asp-validation-for="DateHourAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de creación</label>
                <input asp-for="DateCreation" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RUN" class="control-label"></label>
                <input asp-for="RUN" class="form-control" readonly="readonly"/>
                <span asp-validation-for="RUN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre del Paciente</label>
                <input asp-for="PatientNames" class="form-control" readonly="readonly"/>
                <span asp-validation-for="PatientNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                Cita
                @Html.DropDownListFor(m => m.IdAppointments, (IEnumerable<SelectListItem>)ViewBag.cursoLista, "Seleccione el curso", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdAppointments, "", new { @class = "text-danger" })

                @*<label asp-for="IdAppointments" class="control-label"></label>
        <input asp-for="IdAppointments" class="form-control" />
        <span asp-validation-for="IdAppointments" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">Estado Cita</label>
                <input asp-for="StatusAppointment" class="form-control" />
                <span asp-validation-for="StatusAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Referencia</label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

